.btn {
    padding: 0.5rem 4rem;
    color: black;
    background-color: rgb(233 213 255);
    border-radius: 6px;
    margin-left: 8px;
    margin-right: 8px;
}
.btn:hover {
    background-color: rgb(168 85 247);
}

.btn--highlight {
    background-color: rgb(168 85 247);
    padding: 0.5rem 4rem;
    color: white;
    border-radius: 6px;
    margin-left: 8px;
    margin-right: 8px;
}